body {
    background-color: green;
    /* This is where I used the downloaded font family*/
    font-family: Quicksand, sans-serif;
    border: black solid 2px;
    padding: 15px;
    margin: 5px;
    font-family: sans-serif;
    border-radius: 25px;
    }
h1 {
    font-size: 200%;
}
h2 {
    font-weight: 1000;
}
@font-face {
    font-family: Quicksand;
    src: url("font/Quicksand-Bold.otf");
    src: url("font/Quicksand-Light.otf")
}
